.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 32px;
}

.canvas-container.pencil-cursor {
    cursor: url("pencil-16x16.png") 8 8, auto;
}

.canvas-container.bucket-cursor {
    cursor: url("bucket-16x16.png") 8 8, auto;
}

.canvas-container.eraser-cursor {
    cursor: url("eraser-16x16.png") 8 8, auto;
}

.my-canvas {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.canvas-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
    gap: 8px;
}

.color-palette {
    display: flex;
    gap: 8px;
}

.color-option {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    border: 2px solid black;
}
