.Main {
    text-align: center;
    margin-top: 30%;
    
    display: flex;
      justify-content: center;
     
      align-items: center;
      height: 100vh;
      margin: 0;
      
    
  
  }
  .container{
    position: relative;
  
    display: flex;
      justify-content: center;
      align-items: center;
    width: 45%;
    height: 50%;
    background-color: pink;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    margin: auto;
  
  
  }
  .button1{
    cursor: pointer; 
    position: absolute;
    background-color: white;
    margin-bottom: 0%;
    margin-right:45%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    width: 27%;
    height: 33%;
    background-image: url("brush.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .button2{
    cursor: pointer; 
    position: absolute;
    background-color: white;
    margin-left: 45%;
    margin-bottom: 0%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    width: 27%;
    height: 33%;
    background-image: url("multiplebrushes.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .button1-title{
    position: absolute;
  
   margin-bottom: 35%;
   margin-right:45%;
   font-style: italic;
   font-size: 190%;
   font-weight: 1000;
  
  
  
  }
  .button2-title{
    position: absolute;
  
    margin-bottom: 35%;
    margin-left:45%;
    font-style: italic;
    font-size: 190%;
    font-weight: 1000;
   
   
   
   }
  
  
  .container.clicked .button1,
  .container.clicked .button2,
  .container.clicked .button1-title,
  .container.clicked .button2-title {
    animation: hide 2s forwards;
  }
  
  @keyframes hide {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .container.clicked .button1-title {
    animation-name: moveTitle;
  }
  
  @keyframes moveTitle {
    to {
      transform: translateX(60%);
    }
  }
  
  .new-button1{
    font-family: Arial, sans-serif;  
    font-size: 20px;  
    text-align: center;  
    text-decoration:  none;
    display: inline-block;
    font-weight: bold; 
    transition-duration: 0.4s; 
    cursor: pointer; 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    margin-left: 65%;
    margin-bottom: 0%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    width: 25%;
    height: 33%;
  }
  .new-button2{
    font-family: Arial, sans-serif;  
    font-size: 20px;  
    text-align: center;  
    text-decoration: none;
    display: inline-block;
    font-weight: bold; 
    transition-duration: 0.4s; 
    cursor: pointer; 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    margin-left: 0%;
    margin-bottom: 0%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    width: 25%;
    height: 33%;
  }
  .new-button3 {
    font-family: Arial, sans-serif;  
    font-size: 20px;  
    text-align: center;  
    text-decoration: none;
    display: inline-block;
    font-weight: bold;  
    transition-duration: 0.4s; 
    cursor: pointer; 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    margin-right: 65%;
    margin-bottom: 0%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    width: 25%;
    height: 33%;
    
  }
  
  .container.clicked .new-button1,
  .container.clicked .new-button2,
  .container.clicked .new-button3 {
    animation: show 2s forwards;
  }
  
  @keyframes show {
    to {
      visibility: visible;
      opacity: 1;
    }
    
  }
  .tooltip {
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    z-index: 100;
  }
  
  .start-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .selectedGameMode {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top:30%;
    border-color: black;
    border-style: solid;
  
  }
  .selectedGameMode {
    position: absolute;
    background: white;
    border-radius: 10px;
    color: black;
    padding: 50px;
    text-align: center;
    width: 10%; 
    height: 30%; 
    font-size: 16px; 
    margin: auto;
    margin-right: 62%;
    margin-bottom: 0%;
  }
  
  .back-button {
   /* font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    */
    transition-duration: 0.4s;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    
    background-image: url("undo-back-return-button-png-3.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    margin-bottom: 40%; 
    margin-left: 80%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;
    width: 10%;
    height: 15%;
  }
  
  .container.clicked .back-button {
    animation: show 2s forwards;
  }
  