body{
  background-color: white;
}
.whiteBox{
  background: white;
  margin: auto;
  width: 1350px;
  height: 600px;
  padding: 10px;
}

.munch-logo{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 16px;
  font-size: 18px;
}

.h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  top: 8px;
  text-align: center;
}


